---
import Layout from "../layouts/Layout.astro";

import Fluid from "@/components/Fluid.astro";
---

<Layout title="Welcome to Astro.">
  <Fluid />
  <main class="relative h-svh overflow-hidden">
    <canvas id="fluid" class="absolute filter blur-[1.5px] z-10 mix-blend-screen"></canvas>
    <header class="flex h-svh select-none flex-col items-center justify-center">
      <h1
        class="mx-auto flex w-fit flex-col items-center justify-center uppercase"
      >
        <span class="text-xl leading-[none]">Yoel Rodríguez</span>
        <span class="bg-top font-humane text-[224px] leading-none tracking-wide"
          >Frontend</span
        >
        <span
          class="bg-center font-humane text-[224px] leading-[134px] tracking-wide"
          >Developer</span
        >
      </h1>
      <p class="mt-4 font-sora text-xl uppercase leading-[none]">
        Based in Havana, Cuba
      </p>
    </header>
  </main>
</Layout>
