@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Humane';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/Humane/Humane-Regular.woff2') format('woff2');
  }
}